{% load i18n %}
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>{% trans "Your Order Has Shipped" %}</title>
</head>
<body>
  <h1>📦 {% trans "Good news!" %}</h1>
  <p>{% blocktrans %}Hi {{ order_obj.customer.name }},{% endblocktrans %}</p>
  <p>{% blocktrans %}Your order <strong>#{{ order_obj.order_number }}</strong> was shipped on {{ order_obj.updated_at|date:"F j, Y, g:i a" }}.{% endblocktrans %}</p>

  <p>{% trans "You can track your shipment with the following link:" %}</p>
  <p><a href="{{ tracking_url }}">{{ tracking_url }}</a></p>

  <hr>
  <p>{% trans "Thanks for choosing Mulya Bazzar!" %}</p>
</body>
</html>
